// // import the react-big-calendar stylesheet
// @import "react-big-calendar/lib/sass/styles";
.container {
  background-color: #f8f8f8;
  padding: 20px;
  // Your custom styles here
  .rbc-calendar {
    background-color: red !important;
  }
  .rbc-toolbar {
    background-color: #f80000;
    color: #333;
  }

  .rbc-header {
    background-color: #ff9800;
    color: white;
  }

  .rbc-day-bg {
    &.rbc-today {
      background-color: #037d8d !important;
    }
  }

  .customDayCell {
    background-color: #fc1515 !important;
  }
}

.rbcEvent {
  background-color: #4caf50;
  border-color: #388e3c;
  color: white;
}
