.container {
  display: flex;
  gap: 10px;
  .leftContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .rightContainer {
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll;
    // hide scrollbar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }
}
